WebApplication008/Connected Services/WCFServicioDatos/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EmpId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WorkType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDetails" nillable="true" type="tns:EmployeeDetails" />
  <xs:complexType name="ArrayOfEmployeeDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDetails" nillable="true" type="tns:EmployeeDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDetails" nillable="true" type="tns:ArrayOfEmployeeDetails" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="Usuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_usuario" type="xs:int" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuarios" nillable="true" type="tns:Usuarios" />
  <xs:complexType name="ArrayOfUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuarios" nillable="true" type="tns:Usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarios" nillable="true" type="tns:ArrayOfUsuarios" />
  <xs:complexType name="Trabajos">
    <xs:sequence>
      <xs:element minOccurs="0" name="archivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_entrega" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_materia" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id_trabajo" type="xs:int" />
      <xs:element minOccurs="0" name="id_usuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tipo_trabajo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trabajos" nillable="true" type="tns:Trabajos" />
  <xs:complexType name="ArrayOfTrabajos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trabajos" nillable="true" type="tns:Trabajos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrabajos" nillable="true" type="tns:ArrayOfTrabajos" />
  <xs:complexType name="Materias">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_materia" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Materias" nillable="true" type="tns:Materias" />
  <xs:complexType name="ArrayOfMaterias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Materias" nillable="true" type="tns:Materias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterias" nillable="true" type="tns:ArrayOfMaterias" />
</xs:schema>