WebApplication008/Connected Services/WCFServicioDatos/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:35870/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="CrearUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="usuarios" nillable="true" type="q1:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ConsultarUsuariosResult" nillable="true" type="q2:ArrayOfUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuarioPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuarioPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ConsultarUsuarioPorIdResult" nillable="true" type="q3:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuariosPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuariosPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ConsultarUsuariosPorNombreResult" nillable="true" type="q4:ArrayOfUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuariosPorLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuariosPorLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ConsultarUsuariosPorLoginResult" nillable="true" type="q5:ArrayOfUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuariosPorRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarUsuariosPorRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ConsultarUsuariosPorRolResult" nillable="true" type="q6:ArrayOfUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="users" nillable="true" type="q7:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarioPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarioPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarUsuarioPorIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearTrabajo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="trabajo" nillable="true" type="q8:Trabajos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearTrabajoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearTrabajoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTrabajo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="trabajo" nillable="true" type="q9:Trabajos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTrabajoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarTrabajoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarTrabajosResult" nillable="true" type="q10:ArrayOfTrabajos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajosPorIdMateria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_materia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajosPorIdMateriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarTrabajosPorIdMateriaResult" nillable="true" type="q11:ArrayOfTrabajos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajosPorIdMateriaPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_materia" type="xs:int" />
        <xs:element minOccurs="0" name="id_usuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajosPorIdMateriaPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarTrabajosPorIdMateriaPorUsuarioResult" nillable="true" type="q12:ArrayOfTrabajos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTrabajoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTrabajo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTrabajoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarTrabajoPorIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMateria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="materia" nillable="true" type="q13:Materias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMateriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearMateriaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarMateria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="materia" nillable="true" type="q14:Materias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarMateriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarMateriaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMaterias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarMateriasResult" nillable="true" type="q15:ArrayOfMaterias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriasPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMateria" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriasPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarMateriasPorIdResult" nillable="true" type="q16:ArrayOfMaterias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMateriaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMateria" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMateriaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarMateriaPorIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAsistencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="asistencia" nillable="true" type="q17:Asistencias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAsistenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearAsistenciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarAsistencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="asistencia" nillable="true" type="q18:Asistencias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarAsistenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarAsistenciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAsistencias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAsistenciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarAsistenciasResult" nillable="true" type="q19:ArrayOfAsistencias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAsistenciasPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAsistenciasPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarAsistenciasPorIdResult" nillable="true" type="q20:ArrayOfAsistencias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAsistenciasPorIdMateria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMateria" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAsistenciasPorIdMateriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarAsistenciasPorIdMateriaResult" nillable="true" type="q21:ArrayOfAsistencias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAsistenciaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAsistencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAsistenciaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarAsistenciaPorIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCalificaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="calificaciones" nillable="true" type="q22:Calificaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCalificacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearCalificacionesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCalificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="calificacion" nillable="true" type="q23:Calificaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCalificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarCalificacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCalificaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCalificacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarCalificacionesResult" nillable="true" type="q24:ArrayOfCalificaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCalificacionesPorIdUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCalificacionesPorIdUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarCalificacionesPorIdUsuarioResult" nillable="true" type="q25:ArrayOfCalificaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCalificacionPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCalificacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCalificacionPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCalificacionPorIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMateriasEstudiantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="materiaEstudiante" nillable="true" type="q26:Materias_estudiantes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMateriasEstudiantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearMateriasEstudiantesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarMateriaEstudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="materiaEstudiante" nillable="true" type="q27:Materias_estudiantes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarMateriaEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarMateriaEstudianteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriasEstudiantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriasEstudiantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarMateriasEstudiantesResult" nillable="true" type="q28:ArrayOfMaterias_estudiantes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriaEstudiante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriaEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarMateriaEstudianteResult" nillable="true" type="q29:ArrayOfMateriaEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriasEstudiantesPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriasEstudiantesPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarMateriasEstudiantesPorIdResult" nillable="true" type="q30:ArrayOfMaterias_estudiantes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMateriaEstudiantesPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMateriaEstudiante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMateriaEstudiantesPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarMateriaEstudiantesPorIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMateriasDocentes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="materiaDocente" nillable="true" type="q31:Materias_docentes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearMateriasDocentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearMateriasDocentesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarMateriaDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="materiaDocente" nillable="true" type="q32:Materias_docentes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarMateriaDocenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarMateriaDocenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriasDocentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriasDocentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarMateriasDocentesResult" nillable="true" type="q33:ArrayOfMaterias_docentes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriasDocentesPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriasDocentesPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarMateriasDocentesPorIdResult" nillable="true" type="q34:ArrayOfMaterias_docentes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMateriaDocentesPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMateriaDocente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMateriaDocentesPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarMateriaDocentesPorIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>