WebApplication008/Connected Services/WCFServicioDatos/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35870/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35870/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:35870/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuarios" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarUsuarioPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuarioPorId" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarUsuarioPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuarioPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarUsuariosPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuariosPorNombre" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarUsuariosPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuariosPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarUsuariosPorLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuariosPorLogin" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarUsuariosPorLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuariosPorLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarUsuariosPorRol_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuariosPorRol" />
  </wsdl:message>
  <wsdl:message name="IService_ConsultarUsuariosPorRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarUsuariosPorRolResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_EditarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarUsuarioPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioPorId" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarUsuarioPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CrearTrabajo_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearTrabajo" />
  </wsdl:message>
  <wsdl:message name="IService_CrearTrabajo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearTrabajoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditarTrabajo_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarTrabajo" />
  </wsdl:message>
  <wsdl:message name="IService_EditarTrabajo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarTrabajoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarTrabajos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrabajos" />
  </wsdl:message>
  <wsdl:message name="IService_ListarTrabajos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrabajosResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarTrabajosPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrabajosPorId" />
  </wsdl:message>
  <wsdl:message name="IService_ListarTrabajosPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrabajosPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarTrabajosPorIdMateria_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrabajosPorIdMateria" />
  </wsdl:message>
  <wsdl:message name="IService_ListarTrabajosPorIdMateria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrabajosPorIdMateriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarTrabajosPorIdMateriaPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrabajosPorIdMateriaPorUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_ListarTrabajosPorIdMateriaPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrabajosPorIdMateriaPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarTrabajoPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarTrabajoPorId" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarTrabajoPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarTrabajoPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CrearMateria_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearMateria" />
  </wsdl:message>
  <wsdl:message name="IService_CrearMateria_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearMateriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditarMateria_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarMateria" />
  </wsdl:message>
  <wsdl:message name="IService_EditarMateria_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarMateriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMaterias_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMaterias" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMaterias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriasResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriasPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriasPorId" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriasPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriasPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarMateriaPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMateriaPorId" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarMateriaPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMateriaPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CrearAsistencia_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearAsistencia" />
  </wsdl:message>
  <wsdl:message name="IService_CrearAsistencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearAsistenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditarAsistencia_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarAsistencia" />
  </wsdl:message>
  <wsdl:message name="IService_EditarAsistencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarAsistenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarAsistencias_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAsistencias" />
  </wsdl:message>
  <wsdl:message name="IService_ListarAsistencias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAsistenciasResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarAsistenciasPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAsistenciasPorId" />
  </wsdl:message>
  <wsdl:message name="IService_ListarAsistenciasPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAsistenciasPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarAsistenciasPorIdMateria_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAsistenciasPorIdMateria" />
  </wsdl:message>
  <wsdl:message name="IService_ListarAsistenciasPorIdMateria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAsistenciasPorIdMateriaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarAsistenciaPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAsistenciaPorId" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarAsistenciaPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAsistenciaPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CrearCalificaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCalificaciones" />
  </wsdl:message>
  <wsdl:message name="IService_CrearCalificaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearCalificacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditarCalificacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarCalificacion" />
  </wsdl:message>
  <wsdl:message name="IService_EditarCalificacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarCalificacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarCalificaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCalificaciones" />
  </wsdl:message>
  <wsdl:message name="IService_ListarCalificaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCalificacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarCalificacionesPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCalificacionesPorId" />
  </wsdl:message>
  <wsdl:message name="IService_ListarCalificacionesPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCalificacionesPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarCalificacionesPorIdUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCalificacionesPorIdUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_ListarCalificacionesPorIdUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCalificacionesPorIdUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarCalificacionPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCalificacionPorId" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarCalificacionPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCalificacionPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CrearMateriasEstudiantes_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearMateriasEstudiantes" />
  </wsdl:message>
  <wsdl:message name="IService_CrearMateriasEstudiantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearMateriasEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditarMateriaEstudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarMateriaEstudiante" />
  </wsdl:message>
  <wsdl:message name="IService_EditarMateriaEstudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarMateriaEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriasEstudiantes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriasEstudiantes" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriasEstudiantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriasEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriaEstudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriaEstudiante" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriaEstudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriaEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriasEstudiantesPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriasEstudiantesPorId" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriasEstudiantesPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriasEstudiantesPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarMateriaEstudiantesPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMateriaEstudiantesPorId" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarMateriaEstudiantesPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMateriaEstudiantesPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CrearMateriasDocentes_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearMateriasDocentes" />
  </wsdl:message>
  <wsdl:message name="IService_CrearMateriasDocentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearMateriasDocentesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditarMateriaDocente_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarMateriaDocente" />
  </wsdl:message>
  <wsdl:message name="IService_EditarMateriaDocente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarMateriaDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriasDocentes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriasDocentes" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriasDocentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriasDocentesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriasDocentesPorIdMateriaDocente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriasDocentesPorIdMateriaDocente" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriasDocentesPorIdMateriaDocente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriasDocentesPorIdMateriaDocenteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriasDocentesPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriasDocentesPorId" />
  </wsdl:message>
  <wsdl:message name="IService_ListarMateriasDocentesPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriasDocentesPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarMateriaDocentesPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMateriaDocentesPorId" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarMateriaDocentesPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMateriaDocentesPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CrearUsuario" message="tns:IService_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CrearUsuarioResponse" message="tns:IService_CrearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConsultarUsuarios" message="tns:IService_ConsultarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConsultarUsuariosResponse" message="tns:IService_ConsultarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuarioPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConsultarUsuarioPorId" message="tns:IService_ConsultarUsuarioPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConsultarUsuarioPorIdResponse" message="tns:IService_ConsultarUsuarioPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuariosPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConsultarUsuariosPorNombre" message="tns:IService_ConsultarUsuariosPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConsultarUsuariosPorNombreResponse" message="tns:IService_ConsultarUsuariosPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuariosPorLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConsultarUsuariosPorLogin" message="tns:IService_ConsultarUsuariosPorLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConsultarUsuariosPorLoginResponse" message="tns:IService_ConsultarUsuariosPorLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuariosPorRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConsultarUsuariosPorRol" message="tns:IService_ConsultarUsuariosPorRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConsultarUsuariosPorRolResponse" message="tns:IService_ConsultarUsuariosPorRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditarUsuario" message="tns:IService_EditarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditarUsuarioResponse" message="tns:IService_EditarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuarioPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EliminarUsuarioPorId" message="tns:IService_EliminarUsuarioPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EliminarUsuarioPorIdResponse" message="tns:IService_EliminarUsuarioPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearTrabajo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CrearTrabajo" message="tns:IService_CrearTrabajo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CrearTrabajoResponse" message="tns:IService_CrearTrabajo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarTrabajo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditarTrabajo" message="tns:IService_EditarTrabajo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditarTrabajoResponse" message="tns:IService_EditarTrabajo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTrabajos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarTrabajos" message="tns:IService_ListarTrabajos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarTrabajosResponse" message="tns:IService_ListarTrabajos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTrabajosPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarTrabajosPorId" message="tns:IService_ListarTrabajosPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarTrabajosPorIdResponse" message="tns:IService_ListarTrabajosPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTrabajosPorIdMateria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarTrabajosPorIdMateria" message="tns:IService_ListarTrabajosPorIdMateria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarTrabajosPorIdMateriaResponse" message="tns:IService_ListarTrabajosPorIdMateria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTrabajosPorIdMateriaPorUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarTrabajosPorIdMateriaPorUsuario" message="tns:IService_ListarTrabajosPorIdMateriaPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarTrabajosPorIdMateriaPorUsuarioResponse" message="tns:IService_ListarTrabajosPorIdMateriaPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarTrabajoPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EliminarTrabajoPorId" message="tns:IService_EliminarTrabajoPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EliminarTrabajoPorIdResponse" message="tns:IService_EliminarTrabajoPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearMateria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CrearMateria" message="tns:IService_CrearMateria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CrearMateriaResponse" message="tns:IService_CrearMateria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarMateria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditarMateria" message="tns:IService_EditarMateria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditarMateriaResponse" message="tns:IService_EditarMateria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMaterias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarMaterias" message="tns:IService_ListarMaterias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarMateriasResponse" message="tns:IService_ListarMaterias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMateriasPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarMateriasPorId" message="tns:IService_ListarMateriasPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarMateriasPorIdResponse" message="tns:IService_ListarMateriasPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMateriaPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EliminarMateriaPorId" message="tns:IService_EliminarMateriaPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EliminarMateriaPorIdResponse" message="tns:IService_EliminarMateriaPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearAsistencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CrearAsistencia" message="tns:IService_CrearAsistencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CrearAsistenciaResponse" message="tns:IService_CrearAsistencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarAsistencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditarAsistencia" message="tns:IService_EditarAsistencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditarAsistenciaResponse" message="tns:IService_EditarAsistencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAsistencias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarAsistencias" message="tns:IService_ListarAsistencias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarAsistenciasResponse" message="tns:IService_ListarAsistencias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAsistenciasPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarAsistenciasPorId" message="tns:IService_ListarAsistenciasPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarAsistenciasPorIdResponse" message="tns:IService_ListarAsistenciasPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAsistenciasPorIdMateria">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarAsistenciasPorIdMateria" message="tns:IService_ListarAsistenciasPorIdMateria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarAsistenciasPorIdMateriaResponse" message="tns:IService_ListarAsistenciasPorIdMateria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAsistenciaPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EliminarAsistenciaPorId" message="tns:IService_EliminarAsistenciaPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EliminarAsistenciaPorIdResponse" message="tns:IService_EliminarAsistenciaPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearCalificaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CrearCalificaciones" message="tns:IService_CrearCalificaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CrearCalificacionesResponse" message="tns:IService_CrearCalificaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarCalificacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditarCalificacion" message="tns:IService_EditarCalificacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditarCalificacionResponse" message="tns:IService_EditarCalificacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCalificaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarCalificaciones" message="tns:IService_ListarCalificaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarCalificacionesResponse" message="tns:IService_ListarCalificaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCalificacionesPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarCalificacionesPorId" message="tns:IService_ListarCalificacionesPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarCalificacionesPorIdResponse" message="tns:IService_ListarCalificacionesPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCalificacionesPorIdUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarCalificacionesPorIdUsuario" message="tns:IService_ListarCalificacionesPorIdUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarCalificacionesPorIdUsuarioResponse" message="tns:IService_ListarCalificacionesPorIdUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCalificacionPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EliminarCalificacionPorId" message="tns:IService_EliminarCalificacionPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EliminarCalificacionPorIdResponse" message="tns:IService_EliminarCalificacionPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearMateriasEstudiantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CrearMateriasEstudiantes" message="tns:IService_CrearMateriasEstudiantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CrearMateriasEstudiantesResponse" message="tns:IService_CrearMateriasEstudiantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarMateriaEstudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditarMateriaEstudiante" message="tns:IService_EditarMateriaEstudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditarMateriaEstudianteResponse" message="tns:IService_EditarMateriaEstudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMateriasEstudiantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarMateriasEstudiantes" message="tns:IService_ListarMateriasEstudiantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarMateriasEstudiantesResponse" message="tns:IService_ListarMateriasEstudiantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMateriaEstudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarMateriaEstudiante" message="tns:IService_ListarMateriaEstudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarMateriaEstudianteResponse" message="tns:IService_ListarMateriaEstudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMateriasEstudiantesPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarMateriasEstudiantesPorId" message="tns:IService_ListarMateriasEstudiantesPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarMateriasEstudiantesPorIdResponse" message="tns:IService_ListarMateriasEstudiantesPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMateriaEstudiantesPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EliminarMateriaEstudiantesPorId" message="tns:IService_EliminarMateriaEstudiantesPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EliminarMateriaEstudiantesPorIdResponse" message="tns:IService_EliminarMateriaEstudiantesPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearMateriasDocentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CrearMateriasDocentes" message="tns:IService_CrearMateriasDocentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CrearMateriasDocentesResponse" message="tns:IService_CrearMateriasDocentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarMateriaDocente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditarMateriaDocente" message="tns:IService_EditarMateriaDocente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditarMateriaDocenteResponse" message="tns:IService_EditarMateriaDocente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMateriasDocentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarMateriasDocentes" message="tns:IService_ListarMateriasDocentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarMateriasDocentesResponse" message="tns:IService_ListarMateriasDocentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMateriasDocentesPorIdMateriaDocente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarMateriasDocentesPorIdMateriaDocente" message="tns:IService_ListarMateriasDocentesPorIdMateriaDocente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarMateriasDocentesPorIdMateriaDocenteResponse" message="tns:IService_ListarMateriasDocentesPorIdMateriaDocente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMateriasDocentesPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarMateriasDocentesPorId" message="tns:IService_ListarMateriasDocentesPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarMateriasDocentesPorIdResponse" message="tns:IService_ListarMateriasDocentesPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMateriaDocentesPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EliminarMateriaDocentesPorId" message="tns:IService_EliminarMateriaDocentesPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EliminarMateriaDocentesPorIdResponse" message="tns:IService_EliminarMateriaDocentesPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuarios">
      <soap:operation soapAction="http://tempuri.org/IService/ConsultarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuarioPorId">
      <soap:operation soapAction="http://tempuri.org/IService/ConsultarUsuarioPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuariosPorNombre">
      <soap:operation soapAction="http://tempuri.org/IService/ConsultarUsuariosPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuariosPorLogin">
      <soap:operation soapAction="http://tempuri.org/IService/ConsultarUsuariosPorLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuariosPorRol">
      <soap:operation soapAction="http://tempuri.org/IService/ConsultarUsuariosPorRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/EditarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuarioPorId">
      <soap:operation soapAction="http://tempuri.org/IService/EliminarUsuarioPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearTrabajo">
      <soap:operation soapAction="http://tempuri.org/IService/CrearTrabajo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarTrabajo">
      <soap:operation soapAction="http://tempuri.org/IService/EditarTrabajo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTrabajos">
      <soap:operation soapAction="http://tempuri.org/IService/ListarTrabajos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTrabajosPorId">
      <soap:operation soapAction="http://tempuri.org/IService/ListarTrabajosPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTrabajosPorIdMateria">
      <soap:operation soapAction="http://tempuri.org/IService/ListarTrabajosPorIdMateria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTrabajosPorIdMateriaPorUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/ListarTrabajosPorIdMateriaPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTrabajoPorId">
      <soap:operation soapAction="http://tempuri.org/IService/EliminarTrabajoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearMateria">
      <soap:operation soapAction="http://tempuri.org/IService/CrearMateria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarMateria">
      <soap:operation soapAction="http://tempuri.org/IService/EditarMateria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMaterias">
      <soap:operation soapAction="http://tempuri.org/IService/ListarMaterias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMateriasPorId">
      <soap:operation soapAction="http://tempuri.org/IService/ListarMateriasPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMateriaPorId">
      <soap:operation soapAction="http://tempuri.org/IService/EliminarMateriaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearAsistencia">
      <soap:operation soapAction="http://tempuri.org/IService/CrearAsistencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarAsistencia">
      <soap:operation soapAction="http://tempuri.org/IService/EditarAsistencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAsistencias">
      <soap:operation soapAction="http://tempuri.org/IService/ListarAsistencias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAsistenciasPorId">
      <soap:operation soapAction="http://tempuri.org/IService/ListarAsistenciasPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAsistenciasPorIdMateria">
      <soap:operation soapAction="http://tempuri.org/IService/ListarAsistenciasPorIdMateria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAsistenciaPorId">
      <soap:operation soapAction="http://tempuri.org/IService/EliminarAsistenciaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearCalificaciones">
      <soap:operation soapAction="http://tempuri.org/IService/CrearCalificaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarCalificacion">
      <soap:operation soapAction="http://tempuri.org/IService/EditarCalificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCalificaciones">
      <soap:operation soapAction="http://tempuri.org/IService/ListarCalificaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCalificacionesPorId">
      <soap:operation soapAction="http://tempuri.org/IService/ListarCalificacionesPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCalificacionesPorIdUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/ListarCalificacionesPorIdUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCalificacionPorId">
      <soap:operation soapAction="http://tempuri.org/IService/EliminarCalificacionPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearMateriasEstudiantes">
      <soap:operation soapAction="http://tempuri.org/IService/CrearMateriasEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarMateriaEstudiante">
      <soap:operation soapAction="http://tempuri.org/IService/EditarMateriaEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMateriasEstudiantes">
      <soap:operation soapAction="http://tempuri.org/IService/ListarMateriasEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMateriaEstudiante">
      <soap:operation soapAction="http://tempuri.org/IService/ListarMateriaEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMateriasEstudiantesPorId">
      <soap:operation soapAction="http://tempuri.org/IService/ListarMateriasEstudiantesPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMateriaEstudiantesPorId">
      <soap:operation soapAction="http://tempuri.org/IService/EliminarMateriaEstudiantesPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearMateriasDocentes">
      <soap:operation soapAction="http://tempuri.org/IService/CrearMateriasDocentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarMateriaDocente">
      <soap:operation soapAction="http://tempuri.org/IService/EditarMateriaDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMateriasDocentes">
      <soap:operation soapAction="http://tempuri.org/IService/ListarMateriasDocentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMateriasDocentesPorIdMateriaDocente">
      <soap:operation soapAction="http://tempuri.org/IService/ListarMateriasDocentesPorIdMateriaDocente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMateriasDocentesPorId">
      <soap:operation soapAction="http://tempuri.org/IService/ListarMateriasDocentesPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMateriaDocentesPorId">
      <soap:operation soapAction="http://tempuri.org/IService/EliminarMateriaDocentesPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:35870/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>