WebApplication008/Connected Services/WCFServicioDatos/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_usuario" type="xs:int" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuarios" nillable="true" type="tns:Usuarios" />
  <xs:complexType name="ArrayOfUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuarios" nillable="true" type="tns:Usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarios" nillable="true" type="tns:ArrayOfUsuarios" />
  <xs:complexType name="Trabajos">
    <xs:sequence>
      <xs:element minOccurs="0" name="archivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_entrega" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_materia" type="xs:int" />
      <xs:element minOccurs="0" name="id_trabajo" type="xs:int" />
      <xs:element minOccurs="0" name="id_usuario" type="xs:int" />
      <xs:element minOccurs="0" name="tipo_trabajo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trabajos" nillable="true" type="tns:Trabajos" />
  <xs:complexType name="ArrayOfTrabajos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trabajos" nillable="true" type="tns:Trabajos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrabajos" nillable="true" type="tns:ArrayOfTrabajos" />
  <xs:complexType name="Materias">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_materia" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Materias" nillable="true" type="tns:Materias" />
  <xs:complexType name="ArrayOfMaterias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Materias" nillable="true" type="tns:Materias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterias" nillable="true" type="tns:ArrayOfMaterias" />
  <xs:complexType name="Asistencias">
    <xs:sequence>
      <xs:element minOccurs="0" name="asistio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_asistencia" type="xs:int" />
      <xs:element minOccurs="0" name="id_materia" type="xs:int" />
      <xs:element minOccurs="0" name="id_usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Asistencias" nillable="true" type="tns:Asistencias" />
  <xs:complexType name="ArrayOfAsistencias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Asistencias" nillable="true" type="tns:Asistencias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsistencias" nillable="true" type="tns:ArrayOfAsistencias" />
  <xs:complexType name="Calificaciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="calificacion" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="id_calificacion" type="xs:int" />
      <xs:element minOccurs="0" name="id_materia" type="xs:int" />
      <xs:element minOccurs="0" name="id_usuario" type="xs:int" />
      <xs:element minOccurs="0" name="tipo_actividad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Calificaciones" nillable="true" type="tns:Calificaciones" />
  <xs:complexType name="ArrayOfCalificaciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Calificaciones" nillable="true" type="tns:Calificaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalificaciones" nillable="true" type="tns:ArrayOfCalificaciones" />
  <xs:complexType name="Materias_estudiantes">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_materia" type="xs:int" />
      <xs:element minOccurs="0" name="id_materia_estudiante" type="xs:int" />
      <xs:element minOccurs="0" name="id_usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Materias_estudiantes" nillable="true" type="tns:Materias_estudiantes" />
  <xs:complexType name="ArrayOfMaterias_estudiantes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Materias_estudiantes" nillable="true" type="tns:Materias_estudiantes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterias_estudiantes" nillable="true" type="tns:ArrayOfMaterias_estudiantes" />
  <xs:complexType name="ArrayOfMateriaEstudiante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MateriaEstudiante" nillable="true" type="tns:MateriaEstudiante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMateriaEstudiante" nillable="true" type="tns:ArrayOfMateriaEstudiante" />
  <xs:complexType name="MateriaEstudiante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MateriaEstudiante" nillable="true" type="tns:MateriaEstudiante" />
  <xs:complexType name="Materias_docentes">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_materia" type="xs:int" />
      <xs:element minOccurs="0" name="id_materia_docente" type="xs:int" />
      <xs:element minOccurs="0" name="id_usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Materias_docentes" nillable="true" type="tns:Materias_docentes" />
  <xs:complexType name="ArrayOfMaterias_docentes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Materias_docentes" nillable="true" type="tns:Materias_docentes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterias_docentes" nillable="true" type="tns:ArrayOfMaterias_docentes" />
</xs:schema>